body {
  margin: 0;
  padding: 0;
  background: #22313f;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 2.5rem;
  font-weight: 500;
  color: beige;
  margin: 1.25rem;
}

section {
  margin: 0;
  padding: 1rem 25%;
  height: 100vh;
}

.title {
  padding: 0.77rem 5rem;
  text-align: center;
  background: #2c3e50;
  border-radius: 2.5rem;
  color: #8e9c9e;
}
.search {
  margin: 1rem;
  padding: 5% 25%;
}
.search-box {
  display: flex;
  background: #2c3e50;
  height: 2.5rem;
  border-radius: 2.5rem;
  padding: 0.625rem;
}
/* .search-box:hover > .search-text {
  width: 10rem;
  padding: 0 6px;
} */
.search-box:hover > .searchbutton {
  background: rgb(32, 32, 32);
}

.searchbutton {
  color: #4d05e8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #2c3e50;
  transition: 0.4s;
}

.search-text {
  flex-basis: 90%;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: white;
  font-size: 1rem;
  transition: 0.4s;
  line-height: 2.5rem;
  padding-left: 1rem;
  width: 90%;
}

.cases {
  text-align: center;
}
.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.charts {
  width: 80%;
  margin: auto;
}

@media (max-width: 1080px) {
  ::root {
    font-size: 12px;
  }
  .search {
    text-align: center;
    padding: 0 15%;
  }
  .search-box {
    flex-wrap: nowrap;
    padding: 4px;
    align-items: center;
  }
  .search-text {
    font-size: 0.6rem;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 720px) {
  ::root {
    font-size: 10px;
  }
  .section {
    padding: 0;
    margin: 0;
  }
  .title {
    padding: 0;
    margin: 0;
  }
  .charts {
    display: none;
  }
}
